.accountcontainer {
  width: 60%;
  text-align: center;
}

.accountcontainerform {
  margin: 10% auto;
}

body {
  background: #FFFFFF;
}

.accountcontainer > .loginbutton {
  text-align: right;
}

.noneclickable{
  pointer-events: none;
  cursor: default;
}

.navbar-brand-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.titlepage
{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.maincontainer {
  text-align: center;
  margin-top: 60px;
}

.basicsetting {
  width: 80%;
  margin: 0 auto;
}

.theadinverse{
  background-color: #333333;
  color: #FFFFFF;
}