.accountcontainer {
  width: 60%;
  text-align: center;
}

.accountcontainerform {
  margin: 10% auto;
}

body {
  background: #F5F6CE;
}

.accountcontainer > .loginbutton {
  text-align: right;
}

.noneclickable{
  pointer-events: none;
  cursor: default;
}

.navbar-brand-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.titlepage
{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}