@import model.TableLook
@(li: List[TableLook])



<script src="@routes.Assets.versioned("javascripts/ClosedOrderTable.js")" ></script>
    <table id="closed_orders_table" class="table table-striped table-bordered table-hover">
        <thead class="theadinverse">
            <tr>
                <th>#</th>
                <th>Rendelés id</th>
                <th>Név</th>
                <th>Dátum</th>
                <th>Összeg</th>
            </tr>
        </thead>
        <tbody>
            @for(i <- li.indices){
                <tr class="clickable-row" data-href="closedOrder?id=@li(i)._id">
                    <th scope="row">@(i+1)</th>
                    <td>@li(i)._id</td>
                    <td>@li(i).name</td>
                    <td>@li(i).date</td>
                    <td>@li(i).price ft</td>
                </tr>
            }
        </tbody>
    </table>
