@import model.Customer
@(list: List[Customer])

<script type="text/javascript">
        jQuery(document).ready(function($) {
            $("#customers-table").find("tr").each(function(i, e){
                $(e).children('td:not(:nth-last-child(-n+2))').click(function()
                {
                    window.document.location = $(this).closest("tr").data("href");
                });
            });
        });

        function deleteRequestItem(id){
            $.get("/deleteRequestCustomer?id="+id, function(data){
               location.reload();
            });
            $("#dialog_"+id).dialog("close");
        }

        function confirmRequestItem(id){
            $.get("/confirmRequestCustomer?id="+id, function(data){
                location.reload();
            });
            $("#dialog_"+id).dialog("close");
        }

        function applyCustomer(id){
            $("#save_dialog_"+id).dialog({modal: true}).prev(".ui-dialog-titlebar").css("background","limegreen");
        }

        function closeDialog1(id){
            $("#dialog_"+id).dialog("close");
        }

        function closeDialog2(id){
            $("#save_dialog_"+id).dialog("close");
        }
</script>

<table id="customers-table" class="table table-striped table-bordered table-hover">
    <thead class="theadinverse">
        <tr>
            <th>#</th>
            <th>Teljes név</th>
            <th>Szállítási cím</th>
            <th>Elfogad</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        @for(cust <- list) {
            <tr class="clickable-row" data-href="listcustomer?id=@cust._id">
                <td>@{cust._id + 1}</td>
                <td>@{cust.name}</td>
                <td>@{cust.billing_address}</td>

                <td><span class="glyphicon glyphicon-ok" style="color: limegreen;" onclick="applyCustomer(@{cust._id});"></span></td>
                <div id="save_dialog_@{cust._id}" title="Figyelem!" style="display: none;">
                        Biztosan felveszi a(z) @{cust.name} vásárlót?
                    <br/>
                    <br/>
                    <button onclick="confirmRequestItem(@{cust._id})" style="float: left;">Elfogad</button>
                    <button onclick="closeDialog2(@{cust._id})" style="float: right;">Mégse</button>

                </div>
                <td><span class="glyphicon glyphicon-remove" style="color: red;" onclick="removeCustomer(@{cust._id});"></span></td>
                <div id="dialog_@{cust._id}" title="Figyelem!" style="display: none;">
                        Biztosan törli a(z) @{cust.name} vásárlót?
                    <br/>
                    <br/>
                    <button onclick="deleteRequestItem(@{cust._id})" style="float: left;">Törlés</button>
                    <button onclick="closeDialog1(@{cust._id})" style="float: right;">Mégse</button>

                </div>
            </tr>
        }
    </tbody>
</table>

@for(cust <- list) {
    <div class="modal fade" id="modal_@{cust._id}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title itemModalTitle">
                    @{
                        cust.name
                    }
                    </h2>
                </div>
                <div class="modal-body">
                    <table class="itemDescriptionTable">
                        <tr>
                            <td>Id:</td> <td>@{cust._id} FT</td>
                        </tr>
                        <tr>
                            <td>Vásárló neve:</td> <td>@{cust.name}</td>
                        </tr>
                        <tr>
                            <td>Szállítási cím:</td> <td>@{cust.billing_address}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}