@import model.Customer
@(username: String, customers: List[Customer])(implicit req: RequestHeader)

@main("Vásárlók", 6, username){
    <script src="@routes.Assets.versioned("javascripts/CustomerManager.js")" ></script>
    <div class="basicsetting">
        <div class="page-header">
            <h1>Vásárlók</h1>
        </div>
        <div id="customer-table-container">
            <div class="input-group" style="display: flex;">
                <div class="input-group" style="width: 30%; float: left;">
                    <input id="search_text" type="text" class="form-control" placeholder="Felhasználó név">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="searchUser()">Keresés</button>
                    </span>
                </div>
                <div style="position: absolute; right: 0;">
                    <button class="btn btn-primary" onclick="location.href ='modifyCustomer?id=0'">
                          <span class="glyphicon glyphicon-plus"></span>
                          Új vásárló
                    </button>
                </div>
            </div>
            <br/>
            <div id="customer_table">
            </div>
        </div>
    </div>
}