@import model.Customer
@(list: List[Customer])

<script type="text/javascript">
        function deleteRequestItem(id){
            $.get("/deleteRequestCustomer?id="+id, function(data){
               location.reload();
            });
            $("#dialog_"+id).dialog("close");
        }

        function confirmRequestItem(id){
            $.get("/confirmRequestCustomer?id="+id, function(data){
                location.reload();
            });
            $("#dialog_"+id).dialog("close");
        }

        function applyCustomer(id){
            $("#save_dialog_"+id).dialog({modal: true}).prev(".ui-dialog-titlebar").css("background","limegreen");
        }

        function closeDialog1(id){
            $("#dialog_"+id).dialog("close");
        }

        function closeDialog2(id){
            $("#save_dialog_"+id).dialog("close");
        }
</script>

<table id="customers-table" class="table table-striped table-bordered table-hover">
    <thead class="theadinverse">
        <tr>
            <th>#</th>
            <th>Teljes név</th>
            <th>Szállítási cím</th>
            <th>Elfogad</th>
            <th>Törlés</th>
        </tr>
    </thead>
    <tbody>
        @for(cust <- list) {
            <tr>
                <td>@{cust._id + 1}</td>
                <td>@{cust.name}</td>
                <td>@{cust.billing_address}</td>

                <td><span class="glyphicon glyphicon-ok" style="color: limegreen;" onclick="applyCustomer(@{cust._id});"></span></td>
                <div id="save_dialog_@{cust._id}" title="Figyelem!" style="display: none;">
                        Biztosan felveszi a(z) @{cust.name} vásárlót?
                    <br/>
                    <br/>
                    <button onclick="confirmRequestItem(@{cust._id})" style="float: left;">Elfogad</button>
                    <button onclick="closeDialog2(@{cust._id})" style="float: right;">Mégse</button>

                </div>
                <td><span class="glyphicon glyphicon-remove" style="color: red;" onclick="removeCustomer(@{cust._id});"></span></td>
                <div id="dialog_@{cust._id}" title="Figyelem!" style="display: none;">
                        Biztosan törli a(z) @{cust.name} vásárlót?
                    <br/>
                    <br/>
                    <button onclick="deleteRequestItem(@{cust._id})" style="float: left;">Törlés</button>
                    <button onclick="closeDialog1(@{cust._id})" style="float: right;">Mégse</button>

                </div>
            </tr>
        }
    </tbody>
</table>

