@(menuBarType: Int, title: String, user: String)

@import helper._

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand navbar-brand-center noneclickable" href="">@title</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a class="titlepage" href="main">Felhasználó: @user</a>
            </li>
            @if(menuBarType == 2 || menuBarType == 4) {
                <li><a href="addorder">Új rendelés</a></li>
            }

            @if(menuBarType == 3) {
             <li class="active noneclickable"><a href="addorder">Új rendelés</a></li>
            }

            @if(menuBarType == 6) {
                <li><a href="users"><span class="glyphicon glyphicon-user"></span>Felhasználók</a></li>
                <li><a href="customers"><span class="glyphicon glyphicon-user"></span>Vásárlók</a></li>
            }

            @if(menuBarType == 7) {
                <li class="active noneclickable"><a href="users"><span class="glyphicon glyphicon-user"></span>Felhasználók</a></li>
                <li><a href="customers"><span class="glyphicon glyphicon-user"></span>Vásárlók</a></li>
            }

            @if(menuBarType == 8) {
                <li><a href="users"><span class="glyphicon glyphicon-user"></span>Felhasználók</a></li>
                <li><a href="customers"><span class="glyphicon glyphicon-user"></span>Vásárlók</a></li>
            }

            @if(menuBarType == 9) {
                <li><a href="users"><span class="glyphicon glyphicon-user"></span>Felhasználók</a></li>
                <li class="active noneclickable"><a href="customers"><span class="glyphicon glyphicon-user"></span>Vásárlók</a></li>
            }
            @if(menuBarType == 10) {
                <li><a href="users"><span class="glyphicon glyphicon-user"></span>Felhasználók</a></li>
                <li><a href="customers"><span class="glyphicon glyphicon-user"></span>Vásárlók</a></li>
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if(menuBarType == 1){
            <li><a class="noneclickable" style="margin-right: 5px;" href="">Kijelentkezés</a></li>
            } else {
                @menuBarType match {
                    case 3 => {<li><a href="main">Vissza</a></li>}
                    case 4 => {<li><a href="addorder">Vissza</a></li>}
                    case 6 => {
                        <li><a href="closedOrders?all=true"><span class="glyphicon glyphicon-briefcase"></span>
                            Véglegesített rendelések</a>
                        </li>
                    }
                    case 7 => {
                        <li><a href="closedOrders?all=true"><span class="glyphicon glyphicon-briefcase"></span>
                            Véglegesített rendelések</a>
                        </li>
                    }
                    case 9 => {
                        <li><a href="closedOrders?all=true"><span class="glyphicon glyphicon-briefcase"></span>Véglegesített rendelések</a></li>
                    }
                    case 10 => {
                        <li class="active noneclickable"><a href="closedOrders?all=true"><span class="glyphicon glyphicon-briefcase"></span>Véglegesített rendelések</a></li>
                    }
                    case _ => {}
                }
                <li><a href="logout" style="margin-right: 5px;">Kijelentkezés</a></li>
            }
        </ul>
    </div>
</nav>