@import model.Product
@(user: String, custName: String, products: List[Product], listedElement :Int, actualPage :Int, maxPage :Int, elementSize :Int, orderedMap :Map[String, Int])

@import scala.Int; var start=0; var end=1; var counter=1; var pageNo=0
@import helper._

@main(custName +" rendelése", 4, user) {
<div class="basicsetting">
    <div class="page-header">
        <h1>Termékek hozzáadása</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Keresés</div>
        <div class="panel-body">
            <table style="width: 100%;">
                <tbody>
                <tr >
                    <td>
                        @form(routes.Main.search, 'class -> "input-group", 'style -> "margin-bottom: 2%"){
                            <input id="name" name="name" type="text" class="form-control" placeholder="Termék neve...">
                            <span class="input-group-btn">
                               <button class="btn btn-default" type="submit">Keresés</button>
                            </span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group" style="float: middle;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @listedElement <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="sizedList?iNo=5">5</a></li>
                                <li><a href="sizedList?iNo=10">10</a></li>
                                <li><a href="sizedList?iNo=50">50</a></li>
                                <li><a href="sizedList?iNo=100">100</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="list-group" style="float: left; margin: 2% auto;">
        @{counter = ((actualPage - 1) * listedElement) + 1}
        @for(p <- products){
        <div class="input-group add-item-container" style="margin: 0 auto;">
               <span class="input-group-addon">
                   <!--<input type="checkbox">-->
               </span>
            <div class="list-group-item product-list" data-toggle="modal" data-target="#@{p.productnumber}">
                <div class="add-list-item">
                    <h4><b>@counter.</b> @p.name</h4>
                    <p>Készlet: @p.stock</p>
                    <p>Ár: @p.price ft</p>
                </div>
                <div class="add-list-piece">
                    <div id="piece-@{p.productnumber}">
                        @if(orderedMap.contains(p.productnumber)){
                            @orderedMap(p.productnumber)
                        }
                    </div>
                </div>
            </div>
            @{counter=counter+1}
        </div>
        <!-- Modal -->
        <div class="modal fade" id="@{p.productnumber}" tabindex="-1" role="dialog" aria-labelledby="item">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                             <h2 class="modal-title itemModalTitle" id="item">
                                @{p.name}
                            </h2>
                     </div>
                     <div class="modal-body" style="font-weight: normal;">
                         <table class="itemDescriptionTable">
                             <tr>
                                <td>Termék szám:</td> <td>@{p.productnumber}</td>
                             </tr>
                             <tr>
                                <td>Vonalkód:</td><td>@{p.ean}</td>
                             </tr>
                             <tr>
                                <td>Ár:</td> <td>@{p.price} FT</td>
                             </tr>
                             <tr>
                                <td>Raktáron:</td> <td>@{p.stock} db</td>
                             </tr>
                         </table>

                     </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                         <form class="form-horizontal" role="form">
                             <div class="form-group addButton">
                                <label  class="col-sm-4 control-label"
                                     for="darab@{p.productnumber}">Rendelendő darab</label>
                                 <div class="col-sm-5">
                                   <input type="number" class="form-control"
                                    id="darab@{p.productnumber}" placeholder="Darabszám"/>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="addorder(@{p.productnumber}, @{p.price})">
                                    Hozzáadás
                                </button>
                             </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>

            @if(products.last != p) {
                <hr style="border-top: 1px solid #000000;" />
            }
        }


    </div>
    @productpaging(listedElement, actualPage, maxPage, elementSize)

</div>
}
